<strong>Olá, {{ organizer }}</strong>
<p>Você possui uma nova inscrição no seu Meetup:</p>
<p>
  <strong>Quem se inscreveu: </strong> {{ user }} <br />
  <strong>O email dele(a): </strong> {{ email }} <br />
</p>
